<html>

<head>
    <script>
        function myFunction() {
            document.getElementById("myBtn").disabled = true;
        }
    </script>
</head>
<div class="send-button">

    <button class="send" (click)="sendMessage()">send
        </button>
    <!-- <input id="input" type="text" #input> -->
    <input #input type="file" id="files" name="files" (change)="handleFileSelect($event)" />

    <br/>
    <!-- <textarea id="base64" rows="5"></textarea> -->
    <!-- <a download href='#' #link>Download</a> -->
</div>
<!-- <form method="post" enctype="multipart/form-data" action="/upload">
    <table>
        <tr>
            <td>Select File</td>
            <td><input type="file" name="file"></td>
            <td><button type="submit">Upload</button></td>
        </tr>
    </table>
</form> -->


<div class="form-group">
    <input type=file (change)="fileupload($event)">

    <!-- <input #fileInput type="file" ng2FileSelect [uploader]="uploader" value="upload" />

    <div class="drop-box" ng2FileDrop [uploader]="uploader" (click)="fileClicked()"> -->
    <!-- <span class="drag-in-title">Import or drag file here</span>
        <span class="drag-over-title">Drop the file</span> -->
    <!-- </div> -->
</div>

<mat-sidenav-container>
    <!-- <mat-sidenav-content class="example-container"> -->
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
    <!-- <p style="float: right"><button mat-button (click)="sidenav.toggle()">file</button></p> -->
    <!-- <p>Events:</p> -->
    <!-- <div class="example-events">
            <div *ngFor="let e of events">{{e}}</div>
        </div> -->

    <!-- </mat-sidenav-content> -->
    <p style="float: right"><button mat-button (click)="sidenav.toggle()">file</button></p>
    <!-- <button id="myBtn">My Button</button> -->

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end" style="width: 20%">
        <p>Sidenav content</p>
        <!-- <mat-nav-list> -->
        <p *ngFor="let link of links">
            <!-- {{link.links}} -->

            <a id="link" target='_blank' download [href]="link.links"> <button id="btn1" class="btn" onclick="myFunction(this)">{{link.file_name}}</button> </a>

        </p>


        <!-- </mat-nav-list> -->
        <!-- <a id="link" download href='#' #link>Download</a> -->



        <!-- <ul>
            <li *ngFor="let link of links">{{link.links}}</li>
        </ul> -->
    </mat-sidenav>


</mat-sidenav-container>

</html>